body {
    background-color: #232323;
    margin: 0;
    font-family: 'Secular One', sans-serif;

}

.square {
    width: 30%;
    background-color: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    transition: background 0.5s;
    -webkit-transition: background 0.5s; /* in order for it to work on different browsers*/
    -moz-transition: background 0.5s;

    ;
}

.container {
    max-width: 600px; /* when we change the page size, it fits it (differently from "width") */
    margin: 10px auto; /* 0-top and bottom; auto-sides */
}

h1 {
    color: white;
    text-align: center;
    line-height: 1.1;
    background-color: steelblue;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    padding: 20px 0;
    letter-spacing: 1px;
}

#find {
    font-size: 75%;
}

#color {
    font-size: 200%;
}

#stripe {
    background-color: white;
    height: 30px;
    text-align: center;
    color: black;
}

.selected {
    color: white;
    background-color: steelblue;
}

button {
    border: none;
    outline: none;
    background-color: white;
    text-transform: uppercase;
    height: 100%;  /* the percentage is of the container is ts found in */
    font-family: 'Secular One', sans-serif;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit; 
    transition: all 0.3s;  /* who gets it, time of transition*/ 
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;

}

#message {
    display: inline-block; 
    width: 25%;
}

button:hover {
    color: white;
    background-color: steelblue;
}

